<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileManager.Properties.Settings>
            <setting name="FileManager_WebReference_WSCtrlPc" serializeAs="String">
                <value>http://192.168.1.24:8030/WSCtrlPc.asmx</value>
            </setting>
        </FileManager.Properties.Settings>
    </applicationSettings>
    <appSettings>
      <add key="linkDownload" value="http://192.168.1.23:3000/telecharger/"/>
      <add key="logDir" value="C:\ProgramData\CtrlPc\LOG\"/>
      <add key="maxLogAge" value="1"/>
      <add key="queueSize" value="100"/>
      <add key="CodeAppli" value="FileManager.exe"/>
    </appSettings>
</configuration>